# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Model files and weights
*.keras
*.weights.h5

# Data files
*.pkl

# Audio uploads and data directory
uploads/
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
emotions/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Temporary files
*.tmp
*.log
*.bak
*.swp

# Flask-specific
instance/
